extends nav
    
block content
  h1 "Folk Music Archive is a way for people to connect and share with friends"
  h2 Facebook is great but what it doesn't allow is for you to connect with friends
  h3 Thats why we created Folk Music Archive
  p I'm just a poor wayfaring stranger
  p I'm traveling through this world of woe
  p Yet there's no sickness, toil nor danger
  p In that bright land to which I go
  p I'm going there to see my mother/father
  p I'm going there no more to roam
  p I'm only going over Jordan
  p I'm only going over home
  p I know dark clouds will gather 'round me
  p I know my way is rough and steep
  p Yet golden fields lie just before me
  p Where God's redeemed shall ever sleep
  p I'm going there to see my father/mother
  p S/he said he'd/she'd meet me when I come
  p I'm only going over Jordan
  p I'm only going over home
  p I want to wear a crown of glory
  p When I get home to that good land
  p I want to shout salvation's story
  p In concert with the blood-washed band
  p I'm going there to meet my Saviour
  p To sing his praise forever more
  p I'm just a going over Jordan
  p I'm just a going over home