extends nav
    
block content
  h1 Folk Music Archive
  h2 Cataloging american folk music
  hr
  p Our aim is to help organize, catalog, and notate music in the public domain. Search through the archive and discover music. 
  p Contribute by uploading songs and adding work to the site.
  hr
  button.btn Uploading Songs
  button.btn Editing Lyrics